<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!-- Run timetracker_collector.sh once a minute. -->
<plist version="1.0">
<dict>
	<key>Disabled</key>
	<false/>
	<key>Label</key>
	<string>com.github.deaktator.timetracker.collector</string>
	<key>ProgramArguments</key>
	<array>
		<string>__TIMETRACKER_DIR__/timetracker_collector.sh</string>
		<string>__TIMETRACKER_DIR__/logs/raw</string>
	</array>
	<key>RunAtLoad</key>
	<true/>
	<key>StartInterval</key>
	<integer>60</integer>
	<key>WatchPaths</key>
	<array>
		<string>__TIMETRACKER_DIR__/timetracker_collector.sh</string>
	</array>
	<key>WorkingDirectory</key>
	<string>__TIMETRACKER_DIR__</string>
</dict>
</plist>
